* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    height: auto;
}

/* ****************** HEADER ******************** */
header {
    width: 100%;
    height: 56px;
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 147, 241);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hnavone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    display: block;
}

#explore {
    font-size: 12px;
}

/* search  */
.hnavtwo {
    width: 550px;
    display: flex;
    justify-content: center;
}

#search {
    width: 80%;
    height: 36px;
    padding-left: 5px;
    border: none;
    margin-top: auto;
}

#searchb {
    margin-top: auto;
    margin-left: -1px;
    border: 0px solid;
    background-color: #fff;
    height: 36px;
    cursor: pointer;
}

._31 {
    width: 130px;
    height: 35px;
    margin-left: 50px;
    border: 0px solid white;
    background-color: #fff;
    color: rgb(32, 147, 241);
}

._32 {
    margin-inline: 50px;
}

._33 {
    margin-inline: 35px;
}

.m0 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.m0a {
    padding: 12px 8px;
    text-align: center;
    cursor: pointer;
}

.m0a:first-child {
    padding-left: 22px;
}

.m0a1 {
    margin-bottom: 4px;

}

.m0a2 {
    height: 64px;
    width: 64px;
    max-width: 100%;
    max-height: 100%;
}

.m0a1i {
    text-align: center;
    font-weight: 550;
    font-size: 14px;
}

/* .m1{

}
.m1a{

} */
.m1a1 {
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: 2s ease-in-out;
    overflow: hidden;
}

.m1a11 {
    display: inline-block;
    /* overflow: hidden;
    position: relative; */
}

.m1a111 {
    height: 280px;
    width: 100%;
    overflow: hidden;
    transition: -webkit-transform .2s transition transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.m1a1112 {
    position: relative;
    z-index: -1;
    display: block;
    height: 280px;
    width: 100%;
    text-align: center;

}

.m1a1113 {
    overflow: hidden;
    position: relative;
    -webkit-filter: none !important;
    filter: none !important;
    width: 100%;
    height: 280px;
}

/* .m1a1114{
    /* filter: blur(15px); 
} */

/* ****************** FOOTER **************** */
footer {
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    /* background-color: #172337; */
}

.f3 {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    text-align: left;
    padding: 0 25px;
    margin: 0 auto;
}

.f3a {
    color: #848484;
    font-weight: 500;
    margin-top: 14px;
    padding: 14px 0;
}

.f3a1 {
    color: #565656;
    margin-left: 3px;
}

.f3b {
    margin: 3px 0;
}

.f3b1 {
    color: #848484;
    text-transform: uppercase;
    margin-right: 3px;
}

.f3b2 {
    color: #848484;
    padding: 0 5px;
    border-right: 1px solid #333;
    font-size: 12px;
}

.f3b2:last-child {
    border-right: none;
}

.f2a {
    padding: 0 25px;
    color: #878787;
    background-color: #fff;
}

.f2a1 {

    line-height: 16px;
    font-size: 11px;
    margin: 30px 0 15px;
}

h1 {
    display: block;
    font-size: large;
    margin-bottom: 9px;
    font-weight: 600;
}

h2 {
    font-size: large;
    margin-bottom: 9px;
    font-weight: 600;
}

.superf1f0 {
    background-color: #172337;
}

.f1 {
    background-color: #172337;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;

}

.f11 {
    color: #878787;
    display: flex;
    flex-direction: column;
}

.f11a {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.f11b {
    line-height: 2;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 12px;
}

.f12 {

    border-left: 1px solid #454d5e;
    padding-left: 13px;
}

.f12a {
    color: #878787;
    font-size: medium;
    margin-bottom: 9px;
}

.f12b {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.f0 {
    padding: 25px 0;
    margin-top: 40px;
    background-color: #172337;
    border-top: 1px solid #454d5e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f0a {
    color: #fff;
}